// Variable
$primary-color: #0cc77f;
$second-color: #fc4261;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-famlily: "Roboto", sans-serif;

// Minxin
@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

//Break-point
@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

// reset css
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
  font-family: $font-famlily;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}
// Custom Scroll bar

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
//
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
// Start css

.dashboard {
}
.navbar {
  max-width: 280px;
  min-width: 280px;
  width: 280px;
  height: 100vh;
  background-color: #fff;
  display: block;
  padding: 0 0 0 10px;
  box-shadow: 2px 1px 5px 0px rgb(168 168 168 / 53%);
  position: fixed;
  z-index: 999;
  transition: transform 0.3s linear;

  @include tablet() {
    transform: translateX(-100%);
  }
  &.active {
    transform: translateX(0);
  }
  &__content {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  &__logo {
    padding: 6px 16px;
    display: flex;
    img {
      width: 100%;
      max-width: 180px;
      height: auto;
      object-fit: contain;
    }
  }
  &__menu {
    color: #818181;
    h3 {
      font-size: 1rem;
      margin-left: 15px;
    }

    &__item {
      padding: 8px 18px 8px 24px;
      cursor: pointer;
      transition: margin 0.2s ease;
      position: relative;

      &.hover {
        &:hover {
          background-color: rgba($color: #08e792, $alpha: 0.1);
          margin-left: 10px;
        }
      }
      &__link {
        display: block;
        height: 100%;
        color: #292929;
        font-weight: 400;
        font-size: 15px;
        text-decoration: none !important;
        &.active {
          color: #009b9b;
          font-weight: 600;
        }
        &:hover {
          color: #292929;
        }
      }
      i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    &__parent {
      &::after {
        content: "\25be";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%) scale(1.7);
      }
      &.active-according::after {
        content: "\25b4";
      }
    }
    &__children {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s;
      &__item {
        margin-left: 20px;
        &:hover {
          margin-left: 30px !important;
        }
      }
    }
  }
}
.right {
  flex: 1;
  min-height: 700px;
  padding-left: 280px;
  @include tablet() {
    padding-left: 0;
  }
}

//HEADER
.header {
  position: fixed;
  top: 0%;
  right: 0;
  left: 0;
  height: auto;
  z-index: 10;

  &__inner {
    width: 100%;
    height: 70px;
    max-height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $primary-color;
  }
  &__icon {
    font-size: 20px;
    padding: 2px;
    color: #fff;
    cursor: pointer;
    &--user {
      margin-left: 15px;
    }
    &--xmark {
      display: none;
    }
    &--bars {
      display: none;
      @include tablet() {
        display: block;
      }
    }
  }
}

// CLOSE HEADER

// CONTENT
.content {
  padding-top: 70px;
  margin: 0 20px;

  &__report {
    width: 100%;
    &__empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__img {
        height: 100%;
      }
      h5 {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  &__ant {
    &__card {
      &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 20px;
        margin: 20px 0;
        @include mobile() {
          flex-wrap: wrap;
          gap: 20px;
        }
      }
      &__filter {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__card {
    &__border {
      border: 1px solid #f0f0f0;
      border-radius: 10px;
    }
    &__body {
      padding: 10px 15px;
    }
  }
}
// Custom btns
.btn {
  margin: 0;
  min-width: auto;
  min-height: auto;
  padding: 4px 10px;
  height: 30px;
  font-size: 13px;
  line-height: 13px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  &.btn-success {
    background-color: #1bcd87;
    color: #ffffff;
    width: auto;
    &:hover {
      color: #40a9ff;
      background: #fff;
      border-color: #40a9ff;
    }
  }
  &.btn-danger {
    background-color: #fc4261;
    color: #ffffff;
    width: auto;
    &:hover {
      opacity: 0.7;
      color: #ffffff;
      background-color: #fc4261;
    }
  }
}
// FORM
.form {
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  margin-bottom: 20px;
  &__control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 10px;
    &__input {
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      display: inline-block;
      width: 100%;
      min-width: 0;
      padding: 4px 11px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 1.5715;
      background-color: #fff;
      background-image: none;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      transition: all 0.3s;
    }
    label {
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  &__select {
    height: 32px;
    padding: 0 13px;
    background-color: rgba(70, 95, 110, 0.089);
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
  }
}
// Table
.table {
  font-size: 14px;
  thead {
    font-weight: 600;
    th {
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.04);
      }
    }
  }
}
